
:root{
    --line-border-fill: rgb(0,149,255);
    --line-border-empty:rgb(203,201,201);
}

*{
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100vh;
    margin: 0;
}

.container{
    text-align:center;
}

.progress-container{
    display:flex;
    justify-content: space-between;
    position:relative;
    margin-bottom:30px;
    max-width: 100%;
    width:300px

    /* flex-direction: row; */
}

.progress-container::before
{
    content:'';  /*for before to work we should add this line*/
    background-color: var(--line-border-empty);/*rgb(203, 201, 201);*/
    position:absolute;
    top:50%; /*top of the line is in middle*/
    transform:translateY(-50%); /*middle of the line will be in middle*/
    height: 4px;
    width:100%;
    z-index:-1;
    transition: 0.4s ease;
}
.progress
{
    background-color:var(--line-border-fill); /*rgb(0, 149, 255);*/
    position:absolute;
    top:50%; /*top of the line is in middle*/
    transform:translateY(-50%); /*middle of the line will be in middle*/
    height: 4px;
    width:0%;
    z-index:-1;
    transition: 0.4s ease;
}

.circle{
    background-color: white;
    /* border-color: rgb(0, 149, 255); */
    /* border: 2px; */
    border-radius:50%;
    width:30px;
    height:30px;
    display:flex;
    align-items: center;
    justify-content: center;
    border:3px solid;
    border-color:var(--line-border-empty);
    transition: 0.4s ease;
}

.active{
    border-color:var(--line-border-fill);
}

.btn{
    background-color: var(--line-border-fill);
    color:white;
    border:0;
    border-radius: 6px;
    cursor:pointer;
    padding: 8px 30px 8px 30px;
    margin:5px;
    font-size: 14px;
}

.btn:active{
    transform:scale(0.98);
}

.btn:focus{
    outline:0;
}

.btn:disabled{
    background-color: var(--line-border-empty);
    cursor:not-allowed;
    transform:scale(1);
}